@font-face {
    font-family: GoogleProductSansRegular;
    src: url('fonts/Product_Sans_Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GoogleProductSansRegular', sans-serif;
}

body {
    background-color: #202124;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 100;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 100;
}

.header a {
    font-size: 12px;
    color: rgb(235, 235, 235);
    text-decoration: none;
    font-weight: 400;
    transition: .3s;
}

.header a:hover {
    color: white;
    text-decoration: underline;
}

.header img {
    width: 80px;
    height: 25px;
}

.adv-header {
    position: fixed;
    top: 0;
    left: 100;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.adv-header a {
    font-size: 18px;
    color: rgb(235, 235, 235);
    text-decoration: none;
    font-weight: 400;
    transition: .3s;
}

.adv-header a:hover {
    color: white;
    text-decoration: underline;
}

.adv-header img {
    width: 80px;
    height: 25px;
}

.navbar a {
    font-size: 16px;
    color: rgb(235, 235, 235);
    text-decoration: none;
    font-weight: 400;
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover {
    color: white;
    text-decoration: underline;
}

.secondary-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 45px;
    margin-top: 86px;
    display: flex;
    justify-content: left;
    z-index: 100;
}

.secondary-header-content p {
    color: #f28b82;
    font-size: 21px;
}

hr {
    display: block;
    background-color: #404346;
    height: 1px;
    border: none;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 137px;
}

.main-content i {
    position: absolute;
}

.main-content {
    width: 100%;
    margin-bottom: 10px;
}

.main-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.main-title a {
    color: rgb(70, 128, 255);
    margin-left: 211px;
    margin-top: 70px;
    position: absolute;
    font-size: 17px;
}

.main-title-tile {
    font-size: 90px;
    font-weight: 570;
    color: white;
}

.fa-magnifying-glass {
    padding: 18px;
    min-width: 40px;
    color: #c6c9cd;
}

.search-input:placeholder-shown {
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 300;
    background-color: #202124;
    color: #fff;
    border: 1.2px solid #5f6368;
    border-radius: 35px 35px 35px 35px;
    width: 630px;
}

.search-input:not(:placeholder-shown) {
    padding: 15px 50px;
    font-size: 16px;
    font-weight: 300;
    background-color: #202124;
    color: #fff;
    border: 1.2px solid #5f6368;
    border-radius: 35px 35px 35px 35px;
    width: 630px;
    border-color: transparent;
    outline: 1.2px solid #303134;
    background-color: #303134;
    box-shadow: 0px 4px 15px #00000079;
}

.search-input:focus {
    border-color: transparent;
    outline: 1.2px solid #303134;
    background-color: #303134;
    box-shadow: 0px 4px 15px #00000079;
}

.search-input:hover {
    border-color: transparent;
    outline: 1.2px solid #303134;
    background-color: #303134;
    box-shadow: 0px 4px 15px #00000079;
}

.rd-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-submit {
    padding: 10px 20px;
    margin-top: 35px;
    margin-left: 8px;
    font-size: 16px;
    background-color: #303134;
    color: #fff;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.button-submit:hover {
    border-color: transparent;
    outline: 1px solid rgb(105, 105, 105);
    box-shadow: 0px 2px 7px #00000034;
}

footer {
    width: 100%;
    background-color: #141414;
    color: white;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background: #181414;
    height: auto;
    width: 100vw;
}

.form-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;
}

.form-title {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 18px;
}

.advanced-form {
    position: fixed;
    align-self: center;
    align-items: left;
    top: 0;
    left: 0;
    margin-top: 185px;
    margin-left: 45px;
}

.rows {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.col-left {
    width: 200px;
    color: #c2b9b9;
}

.col-middle {
    width: 500px;
    color: #c2b9b9;
}

.col-middle-1 {
    width: 292.5px;
    color: #c2b9b9;
}

.col-middle-2 {
    margin: 0 22.5px 0 0;
    color: #c2b9b9;
}

.col-middle-3 {
    width: 170px;
}

.col-right {
    margin-left: 120px;
    width: 400px;
    color: #c2b9b9;
    font-size: 12px;
}

.adv-input {
    width: 600px;
    height: 36px;
    background-color: #202124;
    border: 1px solid #7d838a;
    color: rgb(207, 207, 207);
    padding-left: 10px;
}

.adv-input:focus {
    outline: 1px solid rgb(0, 81, 255);
}

.adv-input-halved {
    color: rgb(212, 212, 212);
    padding-left: 10px;
    width: 270px;
    height: 36px;
    background-color: #202124;
    border: 1px solid #7d838a;
}

.adv-input-halved:focus {
    outline: 1px solid rgb(0, 81, 255);
}

.highlight {
    color: white;
}

.btn-row {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 200px;
    margin-right: 400px;
    padding: 20px;
}

.adv-button {
    background-color: #8ab4f8;
    border-color: #8ab4f8;
    color: #202124;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    margin-top: 35px;
    margin-left: 8px;
    border: none;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
}

.adv-button:hover {
    background-color: #b0ceff;
    outline: 1px solid #5d9bff;
}